<!-- user_tabs.html -->
<div class="components--sort-nav panel">
  <p class="panel-heading">
    Einstellungen
  </p>
      <a class="panel-block {% if tab_name=='stats' %}is-active{% endif %}"
          href="{{ url('user_profile', view_user.id,  view_user.username|slugify) }}?sort=stats"
      >
      <span class="panel-icon">
        <i class="fas fa-gear" aria-hidden="true"></i>
      </span>
      {% trans %}overview{% endtrans %}</a>
  {% if request.user.pk == view_user.pk or request.user|can_moderate_user(view_user) %}
    <a class="panel-block {% if tab_name=='inbox' %}is-active{% endif %}"
      href="{{ url('user_profile', view_user.id,  view_user.username|slugify) }}?sort=inbox"
    ><span class="panel-icon">
      <i class="fas fa-gear" aria-hidden="true"></i>
    </span>{% trans %}notifications{% endtrans %}</a>
    {#
    <a class="panel-block {% if tab_name == 'messages' %}is-active{% endif %}" href="{{ request.user.get_absolute_url() }}?sort=inbox&section=messages"
    ><span class="panel-icon">
      <i class="fas fa-gear" aria-hidden="true"></i>
    </span><span>{% trans %}private messages{% endtrans %}</span></a>
    #}
    {% if settings.MULTILINGUAL %}
      <a class="panel-block {% if tab_name=='langs' %}is-active{% endif %}"
        href="{{ url('user_select_languages', view_user.id,  view_user.username|slugify) }}"
      ><span class="panel-icon">
        <i class="fas fa-gear" aria-hidden="true"></i>
      </span>{% trans %}languages{% endtrans %}</a>
    {% endif %}
    <a class="panel-block {% if tab_name=='email_subscriptions' %}is-active{% endif %}"
      href="{{ url('user_profile', view_user.id,  view_user.username|slugify) }}?sort=email_subscriptions"
    ><span class="panel-icon">
      <i class="fas fa-gear" aria-hidden="true"></i>
    </span>{% trans %}email alerts{% endtrans %}</a>
  {% endif %}
  {% if user_follow_feature_on %}
    <a class="panel-block {% if tab_name=='network' %}is-active{% endif %}"
      href="{{ url('user_profile', view_user.id,  view_user.username|slugify) }}?sort=network"
    ><span class="panel-icon">
      <i class="fas fa-gear" aria-hidden="true"></i>
    </span>{% trans %}network{% endtrans %}</a>
  {% endif %}
  <a class="panel-block {% if tab_name=="favorites" %}is-active{% endif %}"
    href="{{ url('user_profile', view_user.id,  view_user.username|slugify) }}?sort=favorites"
  ><span class="panel-icon">
    <i class="fas fa-gear" aria-hidden="true"></i>
  </span>{{ settings.WORDS_FOLLOWED_QUESTIONS|escape }}</a>
  <a class="panel-block {% if tab_name=="recent" %}is-active{% endif %}"
    href="{{ url('user_profile', view_user.id,  view_user.username|slugify) }}?sort=recent"
  ><span class="panel-icon">
    <i class="fas fa-gear" aria-hidden="true"></i>
  </span>{% trans %}activity{% endtrans %}</a>

  {% if request.user.pk == view_user.pk or request.user|can_moderate_user(view_user) %}
    <a class="panel-block {% if tab_name=="votes" %}is-active{% endif %}"
        href="{{ url('user_profile', view_user.id,  view_user.username|slugify) }}?sort=votes"
    ><span class="panel-icon">
      <i class="fas fa-gear" aria-hidden="true"></i>
    </span>{% trans %}votes{% endtrans %}</a>
  {% endif %}
  {% if request.user|can_moderate_user(view_user) %}
    <a class="panel-block {% if tab_name=="moderation" %}is-active{% endif %}"
      href="{{ url('user_profile', view_user.id,  view_user.username|slugify) }}?sort=moderation"
    ><span class="panel-icon">
      <i class="fas fa-gear" aria-hidden="true"></i>
    </span>{% trans %}moderation{% endtrans %}</a>
  {% endif %}
  {% if request.user.is_authenticated and request.user.can_manage_account(view_user) %}
    <a class="panel-block {% if tab_name=="manage_account" %}is-active{% endif %}"
     href="{{ url('user_profile', view_user.id,  view_user.username|slugify) }}?sort=manage-account"
    ><span class="panel-icon">
      <i class="fas fa-gear" aria-hidden="true"></i>
    </span>{% trans %}account{% endtrans %}</a>
  {% endif %}
</div>
