<div class="form-item question-tags form-group field">
  {% if settings.TAG_SOURCE == 'category-tree' %}
    {% include "widgets/three_column_category_selector.html" %}
    <div class="tags-desc">{% trans %}Tags{% endtrans %}</div>
    {% include "widgets/tag_editor.html" %}
  {% else %}
    <div class="tags-label">
      <label class="label" for="id_tags">
      {% if tags_are_required %}
        {% if mandatory_tags %}
          {% trans %}tags{% endtrans %}
          {% trans %}, one of these is required{% endtrans %}
          {{ tag_list_widget(mandatory_tags, make_links=False, css_class='clearfix') }}
        {% else %}
          {% trans %}Tags{% endtrans %}
          {% trans %}(required){% endtrans %}
        {% endif %}
      {% else %}
        {% trans %}Tags{% endtrans %}
      {% endif %}
      </label>
    </div>
    <input type="text" name="tags" size="50" autocomplete="off" id="id_tags" class="prompt input">
    <span class="form-error help is-error">{{ form.tags.errors }}</span>
    <p class="help-text help">{{ form.tags.help_text }}</p>
  {% endif %}
</div>
