{# todo - maybe disable navigation from ignored tags here when "hide" is on - with js? #}
{% import "macros.html" as macros %}

<div class="panel-block is-block">
<h2 class="title is-6 mb-2">Interessante Tags</h2>
  <p class="is-size-7 mb-3">
    Hier können Sie Tags, die Sie interessieren speichern und die Fragen danach filtern
  </p>
  <div class="sidebar-tags-box"></div>  
  {{
    macros.tag_list_widget(
      interesting_tag_names,
      deletable=True,
      css_class='js-interesting-tags js-marked-tags',
      search_state=search_state
    )
  }}
  <div class="field has-addons">
    <div class="control">
      <input id="js-interesting-tag-input"
      autocomplete="off"
      placeholder="{% trans %}Enter tag{% endtrans %}"
      type="text"
      class="input"
    />
    </div>
    <div class="control">
      <input id="js-interesting-tag-add" class="button is-info" type="submit" value="Hinzufügen"/>
    </div>
  </div>
</div>

<div class="panel-block is-block">
  <h2 class="title is-6 mb-2">Ignorierte Tags</h2>
    <p class="is-size-7 mb-3">
      Hier können Sie Tags, die Sie <b>nicht</b> interessieren speichern und die Fragen danach filtern
    </p>
    <div class="sidebar-tags-box"></div>  
    {{
      macros.tag_list_widget(
        ignored_tag_names,
        deletable=True,
        css_class='js-ignored-tags js-marked-tags',
        search_state=search_state
      )
    }}
    <div class="field has-addons">
      <div class="control">
        <input id="js-ignored-tag-input"
        autocomplete="off"
        placeholder="{% trans %}Enter tag{% endtrans %}"
        type="text"
        class="input"
      />
      </div>
      <div class="control">
        <input id="js-ignored-tag-add" class="button is-info" type="submit" value="Hinzufügen"/>
      </div>
    </div>
  </div>
{% if settings.SUBSCRIBED_TAG_SELECTOR_ENABLED %}
  <div class="sidebar-box sidebar-tags-box">
    <h2>{% trans %}Subscribed tags{% endtrans %}</h2>
    {{
      macros.tag_list_widget(
        subscribed_tag_names,
        deletable=True,
        css_class='js-subscribed-tags js-marked-tags',
        search_state=search_state
      )
    }}
    {# todo: add this via javascript
        "remove '%(tag_name)s' from the list of ignored tags"|
        format(tag_name = tag_name)
    #}
    <div class="input-with-button">
      <input id="js-subscribed-tag-input"
        placeholder="{% trans %}Enter tag{% endtrans %}"
        autocomplete="off"
        type="text"
      />
      <input class="btn btn-muted" id="js-subscribed-tag-add" type="submit" value="{% trans %}add{% endtrans%}"/>
    </div>
  </div>
{% endif %}
<div class="panel-block is-block tag-filter-sidebar-box">
  <h2 class="title is-6 mb-2">
    {{ settings.WORDS_SHOW_ONLY_QUESTIONS_FROM|escape }}
  </h2>
    <p class="is-size-7 mb-3">
      Zeige alle Fragen oder filtere nach den oben ausgewählten Tags
    </p>
  <div id="js-display-tag-filter-control" class="control">
    {{
      macros.radio_select(
        name="display_tag_filter_strategy",
        value=request.user.display_tag_filter_strategy,
        choices=display_tag_filter_strategy_choices
      )
    }}
  </div>
</div>
{% if settings.SUBSCRIBED_TAG_SELECTOR_ENABLED %}
  <div class="sidebar-box tag-filter-sidebar-box">
    <h2>{% trans %}Email me alerts for{% endtrans%}</h2>
    <div id="js-email-tag-filter-control">
      {{
        macros.radio_select(
          name="email_tag_filter_strategy",
          value=request.user.email_tag_filter_strategy,
          choices=email_tag_filter_strategy_choices
        )
      }}
      {% if request.user.is_authenticated %}
        <a 
          class="small-font"
          href="{{ url('user_profile', request.user.id, request.user.username|slugify) }}?sort=email_subscriptions"
        >{% trans %}Change frequency of emails{% endtrans %}</a>
      {% endif %}
    </div>
  </div>
{% endif %}
