{% import "macros.html" as macros %}
{% include "tags/header.html" %}
{% if tag_list_type == 'list' %}
  {% if not tags.object_list %}
    {% include "tags/no_tags.html" %}
  {% endif %}
  {% if tags.object_list %}
    <div class='tags mt-5'>
      {% for tag in tags.object_list %}
        {{ macros.tag_widget(
          tag=tag.name,
          truncate_long_tag=True,
          extra_content='&nbsp;' ~ macros.used_count(tag.used_count)
        )}}
      {% endfor %}
    </div>
    <div class="mt-5">
    {{ macros.paginator(paginator_context) }}
  </div>
  {% endif %}
{% else %}
  {% if not tags %}
    {% include "tags/no_tags.html" %}
  {% endif %}
  {{ macros.tag_cloud(tags=tags, font_sizes=font_size, search_state=search_state) }}
{% endif %}
