{% if settings.ASK_BUTTON_ENABLED and active_tab != "ask" %}
  {% if not search_state %}  {#  get empty SearchState() if there's none #}
    {% set search_state=search_state|get_empty_search_state %}
  {% endif %}
  <div class="navbar-item">
  <a class=" button ask-btn is-info js-ask-btn ask-btn-main" href="{{ search_state.full_ask_url() }}">
    <span class="icon">
      <i class="fa-regular fa-circle-question"></i>
    </span>
    <span>
    {{ settings.WORDS_ASK_YOUR_QUESTION|escape }}
    </span>
  </a>
</div>
{% endif %}
{#% if group %}{% if '?' in search_state.full_ask_url() %}&amp;{% else %}?{% endif %}group_id={{ group.id }}{% endif %#}
