<!-- template secondary_header.html -->
<nav class="navbar is-primary" role="navigation" aria-label="questions navigation">
  <div id="questionNavigation" class="navbar-menu">
    <div class="navbar-start">
    {% if active_tab == 'ask' %}
    <a
      href="{{ url('questions') }}"
      class="navbar-item"
    >
      <span class="icon">
        <i class="fas fa-house"></i>
      </span>
    </a>
      <div class="navbar-item">
        {{ settings.WORDS_PLEASE_ASK_YOUR_QUESTION_HERE|escape }}
      </div>
    </div>
    {% else %}
          <a
            href="{{ url('questions') }}"
            class="navbar-item"
          >
          <span class="icon">
            <i class="fas fa-house"></i>
          </span>
          </a>
          {% if need_scope_links %}
            {% include "components/forum_header/scope_nav.html" %}
          {% endif %}
          {% include "components/forum_header/search_bar.html" %}
        </div>
      </div>
      {% if show_ask_button %}
      <div class="navbar-end">
        {% include "components/forum_header/ask_button.html" %}
      </div>
      {% endif %}
    {% endif %}
  </div>
</nav>
