<form class="js-search-form"
  {% if active_tab == "tags" %}
    action="{{ url('tags') }}"
  {% elif page_class == 'user-profile-page' %}
    action="{{ url('questions') }}"
  {% elif active_tab == "users" %}
    action=""
  {% else %}
    action="{{ url('questions') }}"
  {% endif %}
  method="get"
>
  <div class="navbar-item js-search-bar{% if query %} js-cancelable{% endif %}">
    <div class="field has-addons mb-0">
    {% if not settings.SEARCH_FRONTEND_SRC_URL %}
      {% if active_tab == "tags" %}
        <input type="hidden" name="t" value="tag"/>
        {% set query=stag %}
      {% elif active_tab == "users" %}
        <input type="hidden" name="t" value="user"/>
      {% endif %}
      <div class="control">
        <input
          class="js-search-input input is-rounded"
          type="text"
          autocomplete="off"
          value="{{ query|escape if query != None else '' }}"
          name="query"
          placeholder="{% trans %}Type your question or search{% endtrans %}"
          style="width:375px;"
        />
      </div>
      {% if query %}{# query is only defined by questions view (active_tab) #}
      <div class="control">
        <button class="button js-cancel-search-btn with-times-icon">
          <span class="icon">
            <i class="fas fa-xmark"></i>
          </span>
        </button>
      </div>
      {% endif %}
      <div class="control">
        <button value="search" name="search" class="button is-rounded js-search-btn with-search-icon">
          <span class="icon">
            <i class="fas fa-magnifying-glass"></i>
          </span>
        </button>
    </div>
    {% endif %}
    </div>
    </div>
  </div>
</form>
