{% import "macros.html" as macros %}
<div id="js-post-controls-{{ question.pk }}" class="js-question-controls js-post-controls message is-warning" data-post-id="{{ question.pk }}">
  <div class="message-header">
    <p>Werkzeuge</p>
  </div>
  <div class="message-body">
  <button id="js-edit-btn-post-body-{{ question.pk }}"
    class="action-link js-edit with-edit-icon button is-small"
  >
  <span class="icon">
    <i class="fas fa-pen-to-square"></i>
  </span>
  <span>
    {% trans %}edit{% endtrans %}
    </span>
  </button>
  {{ macros.post_flag_buttons(question) }}
<div class="mt-2">
  {% if request.user.is_authenticated and request.user.is_post_moderator(question) %}
    {% set is_published=(not question.is_private()) %}
    <button
      id="js-post-publish-btn-{{question.pk}}"
      class="action-link {% if is_published %}js-unpublish-post with-bullhorn-icon with-slashed-icon{% else %}js-publish-post with-bullhorn-icon{% endif %} button is-small"
      data-post-id={{question.pk}}
    >
      {% if is_published %}
        {% trans %}unpublish{% endtrans %}</a>
      {% else %}
        {% trans %}publish{% endtrans %}</a>
      {% endif %}
</button>
  {% endif %}

  {% if thread.closed %}
    <a id="js-question-close-btn-{{question.id}}"
      class="action-link with-reopen-icon js-post-reopen button is-small"
      href="{{ url('reopen',  question.id ) }}"
    >
    <span class="icon">
      <i class="fas fa-lock-open"></i> 
    </span>
    <span>
      {% trans %}reopen{% endtrans %}
    </span>
  </a>
  {% else %}
    <a id="js-question-close-btn-{{question.id}}"
      class="action-link with-close-icon button is-small"
      href="{{ url('close',  question.id ) }}"
    >
      <span class="icon">
        <i class="fas fa-lock"></i>
      </span>
      <span>
        {% trans %}close{% endtrans %}
      </span>
    </a>
  {% endif %}
  <button 
    id="js-question-merge-btn-{{question.id}}"
    class="action-link js-question-merge-btn with-merge-icon button is-small"
  >
  <span class="icon">
    <i class="fas fa-code-merge"></i>
  </span>
  <span>
  {% trans %}merge{% endtrans %}
  </span>
  </button>
  <button
    id="js-post-delete-btn-{{question.id}}"
    class="action-link js-post-delete-btn with-delete-icon button is-small"
    data-post-id="{{question.id}}"
  >
  <span class="icon">
    <i class="fas fa-trash-can"></i>
  </span>
  <span>
    {% if question.deleted %}{% trans %}undelete{% endtrans %}{% else %}{% trans %}delete{% endtrans %}{% endif %}
    </span>
    </button>
  <script type="text/javascript">
    askbot.functions.renderPostControls('{{question.id}}'{{ ', true' if question.wiki }});
    askbot.functions.hidePublishPostLinks();
  </script>
  </div>
</div>
</div>
