{% extends "two_column_body.html" %}
{% block title %}{% trans %}Help{% endtrans %}{% endblock %}
{% block layout_class %}{{ super() }} meta-page help-page{% endblock %}
{% block content %}
<div class="content">
  <h1>{% trans %}Help{% endtrans %}</h1>
  <p>
    Vielen Dank, dass Sie hilfe.arbeitszeitstudie.de nutzen. Hier erfahren Sie, wie es funktioniert.
  </p>
  <h2>
    Wie Fragen, Antworten und Kommentare funktionieren
  </h2>
  <p>
    Diese Seite ist für das Stellen und Beantworten von Fragen gedacht, nicht für ergebnisoffene Diskussionen. Wir ermutigen jeden, den Bereich "Frage" für Fragen und "Antwort" für Antworten zu nutzen.
  </p>
  <p>
    Trotzdem kann jede Frage und Antwort kommentiert werden – die Kommentare sind gut für begrenzte Diskussionen.
  </p>
  <h2>
    Bitte nutzen Sie die Suche bevor Sie eine Frage stellen.
  </h2>
  <p>
    Geben Sie Ihre Frage oder ein Stichwort in die Suchleiste ein um nachzusehen, ob eine ähnliche Frage schon einmal gestellt wurde.
  </p>
  <p>
    Die Suche hat erweiterte Funktionen:
  </p>
  <ul>
    <li>Suche im Titel - geben Sie [Titel: Ihr Text] ein</li>
    <li>um nach Tags zu suchen - geben Sie [tag: sometag] oder #sometag ein</li>
    <li>Suche nach Benutzer - geben Sie [user: somename] oder @somename oder @"some name" ein</li>
  </ul>
  <p>
    Außerdem ist es möglich, auf Tags zu klicken, um sie der Suchanfrage hinzuzufügen. Schließlich steht in der Seitenleiste der Hauptseite ein separates Feld für die Tag-Suche zur Verfügung, in das die Such-Tags ebenfalls eingegeben werden können
  </p>  
  <p>
    <strong>Wichtig!</strong> Alle Suchbegriffe werden mit einem logischen "UND"-Ausdruck kombiniert – um die Suche durch Hinzufügen neuer Begriffe einzugrenzen.
  </p>

  <h2>Abstimmen</h2>
  <p>
    Das Voting hilft, die besten Antworten auszuwählen und den hilfreichsten Benutzer*innen zu danken.
  </p>

  <h2>Andere Themen</h2>
  <p>
    Sie können Benutzer*innen an beliebiger Stelle im Text mit @mention auf sich aufmerksam machen, Benutzer*innen und Unterhaltungen folgen und unangemessene Inhalte durch Markierung melden.
  </p>
  <p>
    Viel Spaß!
  </p>

</div>
{% endblock %}
