<footer class="footer mt-6">
    <div class="content has-text-centered"> 
      <p> 
        <!--<a href="#">Impressum</a> | <a href="#">Datenschutz</a> |
        {% if settings.FORUM_ABOUT.strip() %}
          <a href="{{ url('about') }}">{% trans %}about{% endtrans %}</a> |
        {% endif %}-->
        <a href="{{ url('help') }}" title="{% trans %}help{% endtrans %}">Forumhilfe</a>
      </p> 
      <p class="has-text-weight-light is-size-6">
        {{now.year}} – <a class="has-text-black" href="https://kooperationsstelle.uni-goettingen.de">Kooperationsstelle Hochschulen und Gewerkschaften der Georg-August-Universität Göttingen</a> 
      </p> 
      <p class="has-text-weight-light is-size-7">
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons Lizenzvertrag" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />Lizenziert unter einer <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Namensnennung - Weitergabe unter gleichen Bedingungen 4.0 International Lizenz</a>.
      </p>
      <p class="has-text-weight-light is-size-7">
        Powered by 
      <a href="http://askbot.com" target="_blank">
        {% trans version=settings.ASKBOT_VERSION -%}
          Askbot version {{version}}
        {% endtrans %}
      </a>
      </p>
    </div>
</footer>
