<div class="js-meta-nav navbar-end">
  <a href="{{ url('tags') }}"
    class="navbar-item{% if active_tab == 'tags' %} has-text-info-dark{% endif %}"
  >
  <span class="icon">
    <i class="fas fa-tags" aria-hidden="true"></i>
  </span>
  <span>
    {% trans %}tags{% endtrans %}
  </span>
  </a>
  <a href="{{ url('users') }}"
    class="navbar-item{% if active_tab == 'users' %} has-text-info-dark{% endif %}"
  >
  <span class="icon">
    <i class="fas fa-users" aria-hidden="true"></i>
  </span>
  <span>
    {% trans %}users{% endtrans %}
  </span>
  </a>
  {% if settings.BADGES_MODE == 'public' %}
  <a
    href="{{ url('badges') }}"
    class="navbar-item{% if active_tab == 'badges' %} has-text-info-dark{% endif %}"
  >
  <span class="icon">
    <i class="fas fa-crown" aria-hidden="true"></i>
  </span>
  <span>
    {% trans %}badges{% endtrans %}
  </span>
  </a>
  {% endif %}
  {% if request.user.is_authenticated and request.user.is_administrator() %}
  <a class="navbar-item" href="{{ url('satchmo_site_settings') }}">
    <span class="icon">
      <i class="fas fa-gear" aria-hidden="true"></i>
    </span>
    <span>
    {% trans %}settings{% endtrans %}
    </span>
  </a>
  {% endif %}
  <!--<script>
    (function() {
      var metaNav = document.getElementsByClassName('js-meta-nav')[0];
      var doc = window.document.documentElement;
      var style = getComputedStyle(doc);
      var breakpoint = parseInt(style.getPropertyValue('--meta-nav-dropdown-breakpoint'));
      if (window.innerWidth <= breakpoint) {
        metaNav.classList.add('js-dropdown-menu');
      }
      var ro = new ResizeObserver(function() {
        if (window.innerWidth <= breakpoint) {
          metaNav.classList.add('js-dropdown-menu');
          if (typeof DropdownMenu !== 'undefined') {
            var menu = new DropdownMenu();
            menu.decorate(metaNav);
          }
        } else {
          metaNav.classList.remove('js-dropdown-menu');
        }
      })
      ro.observe(document.body);
    })();
  </script>-->
</div>
